# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules
npm-debug.*
yarn-debug.*
yarn-error.*
package-lock.json


#expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/android/build
/android/app/build
/android/.gradle
/android/app/.cxx
/android/.idea/
.kotlin/

#ios
/ios/build
/ios/Pods

# Metro
.metro-health-check*

.DS_Store
.idea/
.vscode/
*.iml
Thumbs.db
.orig.

# api, ..
.env*
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem


# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
